Repository hkevin01/trivia-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @maintainer-team, @backend-team, @security-team, @game-logic-team, @mobile-team, @ui-ux-team, @devops-team, @docs-team, @qa-team, @database-team

Add initial backend setup with database schema, configuration, and logging
  src/backend/package.json
Owners: @backend-team, @security-team

feat: Implement database seeder for initial data population
  data/migrations/001_initial_schema.sql
  src/backend/.eslintrc.js
  src/backend/.prettierrc
  src/backend/package-lock.json
  src/backend/src/app.ts
  src/backend/src/config/environment.ts
  src/backend/src/database/connection.ts
  src/backend/src/database/migrate.ts
  src/backend/src/database/redis.ts
  src/backend/src/database/seed.ts
  src/backend/src/middleware/auth.ts
  src/backend/src/middleware/validation.ts
  src/backend/src/routes/auth.ts
  src/backend/src/services/user.ts
  src/backend/src/utils/logger.ts
  src/backend/tsconfig.json
Owners: @backend-team, @database-team, @security-team

feat: Update scripts in package.json for app entry and database management
  src/backend/package.json
Owners: @backend-team, @security-team

feat: Implement category and question services with CRUD operations and validation
  src/backend/src/routes/categories.ts
  src/backend/src/routes/questions.ts
  src/backend/src/services/category.ts
  src/backend/src/services/question.ts
Owners: @backend-team, @security-team

refactor: Replace authentication and validation middleware in category routes
  src/backend/src/routes/categories.ts
Owners: @backend-team, @security-team

feat: Add question and category routes to the API
  src/backend/src/app.ts
  src/backend/src/routes/categories.ts
Owners: @backend-team, @security-team

chore: disable GitHub Actions to prevent billing
  .github/workflows/.gitkeep
  .github/workflows/README.md
  .github/workflows/ci-cd.yml.disabled
  .github/workflows/mobile-build.yml.disabled
Owners: @security-team, @devops-team

.github/CODEOWNERS:

# Code Owners

# Global owners
* @maintainer-team

# Backend services
/src/backend/ @backend-team @security-team
/src/backend/services/anti-cheat/ @security-team @backend-team
/src/backend/services/scoring/ @game-logic-team @backend-team

# Mobile application
/src/mobile/ @mobile-team @ui-ux-team

# Shared libraries and utilities
/src/shared/ @backend-team @mobile-team

# Infrastructure and DevOps
/docker-compose.yml @devops-team
/Dockerfile* @devops-team
/.github/workflows/ @devops-team @security-team
/scripts/ @devops-team

# Documentation
/docs/ @docs-team @maintainer-team
/README.md @docs-team @maintainer-team
/*.md @docs-team

# Configuration files
/.github/ @maintainer-team @devops-team
/.vscode/ @maintainer-team
/.*rc @devops-team
/.*config.* @devops-team

# Security-sensitive files
/.github/workflows/ @security-team @devops-team
/src/backend/services/anti-cheat/ @security-team
/.env* @security-team @devops-team

# Testing
/tests/ @qa-team @backend-team @mobile-team
/**/*test* @qa-team

# Database and data
/data/ @backend-team @database-team
